@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}

.container {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 10px 8%;

}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav ul {
  list-style-type: none;
  text-align: right;

}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}


nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s;

}

nav ul li a:hover {
  color: #ff5c11;
  text-decoration: underline;
}





.btn-register {
  display: flex;
  align-items: center;
  padding: 12px 21px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background: #ff5c11;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;

}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.content {
  margin-top: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  


}


.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-span {
  color: #ff5c11;
  font-family: "alice";

}

.content-alice {
  color: #000;
  font-family: "alice";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;


}


.content h1 {
  color: #000;
  font-family: "Alice";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.content form{
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3%;

}

input{
  border: 1px solid rgb(228,228,228) !important;
  padding: 20px;
  border-radius: 12px 0px 0px 12px;
  
}



.content form input{
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding-left: 16px;

}




.btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-sec{
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border: 0;
  outline: 0;
  border-radius: 0px 10px 10px 0px;
  background: #ff5c11;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;

}

.image{
  margin-top: 110px;
  height: 55vh;
}